@using AntTrak.ViewModel;
@model IEnumerable<UserProfile>

    <div class="container">
        <div class="row">
            <!-- New Card row -->
            <div class="col">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.CardTitle</h3>
                        <div class="card-tools"> </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        
                                    </th>
                                    <th>
                                        @Html.Display("Name")
                                    </th>
                                    <th>
                                        @Html.Display("Email")
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img class="direct-chat-img" src="@item.AvatarUrl" alt="">                                           
                                        </td>
                                        <td>
                                            @Html.Display(item.FullName)
                                        </td>
                                        <td>
                                            @Html.Display(item.Email)
                                        </td>
                                        
                                        <td>
                                            @Html.Display(item.Role)
                                        </td>                                       
                                        <td>
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      
                    </div>  <!-- /.card-footer-->
                </div>  <!-- /.card -->
            </div>
        </div> <!-- (New Card row) -->
    </div>

