@using Microsoft.AspNet.Identity



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dr.d'Bug | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/responsive.bootstrap4.min.css" rel="stylesheet" />
    <!-- JQVMap -->    @*TLF I'm not sure if I need this so I'm commmenting out for now
        <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">*@
    <!-- Theme style -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Content/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->  @*TLF I may want this so I'm bringing it in for now*@
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!-- summernote   TLF I believe this is the text editor-->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
    <link href="~/Content/summernote.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="/fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @* <li class="nav-item d-none d-sm-inline-block">
            <a href="index3.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li>*@
            </ul>

                <!-- SEARCH FORM -->
                @*<form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>*@

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>
                </ul>
</nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                @*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                <i class="fas fa-user-md"></i>
                <span class="brand-text font-weight-light">Dr. d'Bug</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @if (User.Identity.IsAuthenticated)
                {
                    var CurrentUserName = User.Identity.GetUserName();
                    //I will try this but what about getting info from viewbag set at successful log in?
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/Uploads/Tfrid-img.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="@Url.Action("EditUserProfile", "Account")" class="d-block">@CurrentUserName</a>


                        </div>
                    </div>
                }
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("Dashboard", "Home")" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                    </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview menu-open">
                                @*<a href="@Url.Action("ManageRoles", "Admin")" class="nav-link active">*@
                                <i class="nav-icon fas fa-users"></i>
                                <p> Users <i class="right fas fa-angle-left"></i></p>

                                <ul class="nav nav-treeview">


                                    <li class="nav-item">
                                        <a href="@Url.Action("ManageRoles", "Admin")" class="nav-link active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Role Assignment</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("ManageProjectAssignments", "Projects")" class="nav-link active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Project Assignment</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Dashboard v3</p>
                                        </a>
                                    </li>
                                </ul>







                            </li>
                        </ul>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview menu-open">
                                <a href="@Url.Action("ManageProjectAssignments", "Projects")" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p> Manage Project Assignment@*<i class="right fas fa-angle-left"></i>*@</p>
                                </a>
                            </li>
                        </ul>
                    }
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("Index", "Projects")" class="nav-link active">
                                <i class="fas fa-people-carry"></i>
                                <p> Projects@*<i class="right fas fa-angle-left"></i>*@</p>
                            </a>
                        </li>
                    </ul>
                    @if (User.IsInRole("Submitter"))
                    {
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview menu-open">
                                <a href="@Url.Action("Create", "Tickets")" class="nav-link active">
                                    <i class="nav-icon fas fa-tag"></i>
                                    <p>
                                        New Ticket
                                    </p>
                                </a>
                            </li>

                        </ul>
                    }
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            @RenderBody()

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            @*<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>*@
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Scripts/Chart.min.js"></script>
    <!-- Sparkline  TLF I don't know what this is so I'm commenting it out for now -->
    @*<script src="plugins/sparklines/sparkline.js"></script>*@
    <!-- JQVMap TLF I don't think I need this so I'm commenting it out for now-->
    @*<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <!-- jQuery Knob Chart TLF I don't think I need this so I'm commenting it out for now -->
    @*<script src="plugins/jquery-knob/jquery.knob.min.js"></script>*@
    <!-- daterangepicker TLF I might need this-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Scripts/summernote.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables -->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        var invalidSelection = '@TempData["InvalidSelection"]';
        if (invalidSelection != "") {
            Swal.fire({
                title: 'Invalid Selection',
                text: invalidSelection,
                icon: 'error',
                confirmButtonText: 'OK'
            })
        }
        var invalidSignOn = '@TempData["InvalidSignOn"]';
        if (invalidSignOn != "") {
            Swal.fire({
                title: 'Invalid Sign On',
                text: invalidSignOn,
                icon: 'error',
                confirmButtonText: 'OK'
            })
        }
    </script>
    <script>
        $(function () {
            $("table").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
