@model AntTrak.Models.ApplicationUser

<!-- Main Sidebar Container -->

<aside class="main-sidebar sidebar-dark-danger elevation-5">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">       
        <i class="fas fa-user-md fa-2x offset-3"></i>
        <span class="brand-text font-weight-light">Dr. d'Bug</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      @*if (model != null)
        {*@
        <!-- Sidebar user panel (optional) -->
            @if (User.Identity.IsAuthenticated)
            {

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src=@Model.AvatarPath class="img-circle elevation-2" alt="">
                    </div>
                    <div class="info">
                        <a href="@Url.Action("UserProfileEdit", "Admin")" class="d-block">@Model.Fullname</a>


                    </div>
                </div>
            }
        @*}
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="" class="img-circle elevation-2" alt="">
                </div>
                <div class="info">
                    <a href="" class="d-block">Unregistered User</a>
                </div>
            </div>
        }*@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                
                <li class="nav-item">
                    <a href="@Url.Action("Dashboard", "Home")" class="nav-link active">
                        <i class="nav-icon fas fa-hospital-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Users
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                    <a href="@Url.Action("UserProfileIndex", "Admin")" class="nav-link">
                                        <i class="far fa-circle text-warning nav-icon"></i>
                                        <p>View All Users</p>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ManageRoles", "Admin")" class="nav-link">
                                    <i class="far fa-circle text-warning nav-icon"></i>
                                    <p>Role Assignment</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ManageUserProjectAssignments", "Projects")" class="nav-link">
                                    <i class="nav-icon far fa-circle text-warning "></i>
                                    <p> Project Assignment</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }


                @if (User.IsInRole("Developer") || User.IsInRole("Submitter") || User.IsInRole("ProjectManager"))
                {
                    <li class="nav-item has-treeview menu-open">
                        <a href="@Url.Action("Index", "Projects")" class="nav-link active">
                            <i class="fas fa-diagnoses"></i>
                            <p>
                                Projects
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-diagnoses"></i>
                            <p>
                                Projects
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Projects")" class="nav-link">
                                    <i class="far fa-circle text-project nav-icon"></i>
                                    <p>Project List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "Projects")" class="nav-link">
                                    <i class="far fa-circle text-project nav-icon"></i>
                                    <p>Create New Project</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ManageProjectUserAssignments", "Projects")" class="nav-link">
                                    <i class="far fa-circle text-project nav-icon"></i>
                                    <p>User Assignment</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Submitter"))
                {
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="@Url.Action("Create", "Tickets")" class="nav-link active">
                            <i class="nav-icon fas fa-user-injured"></i>
                            <p>
                                New Ticket
                            </p>
                        </a>
                    </li>

                }

                @if (User.IsInRole("Developer"))
                {
                    <li class="nav-item has-treeview menu-open">
                        <a href="@Url.Action("Index", "TicketNotifications")" class="nav-link active">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>
                                Notifications
                            </p>
                        </a>
                    </li>
                }
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item has-treeview menu-open">
                    <a href="@Url.Action("CustomLogOff", "Account")" class="nav-link active">
                        <i class="nav-icon fas fa-beer"></i>
                        <p>
                            Sign Off
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>