@using AntTrak.Models

@model Ticket

    <div class="container">
        <div class="row">
            <div class="col">
                @*<div class="row">*@
                    <div class="card card-blue">
                        <div class="card-header">
                            <h4 class="card-title">@ViewBag.CardTitle</h4>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(Model => Model.ProjectId)
                            @*@Html.HiddenFor(Model => Model.SubmitterId)
                            @Html.HiddenFor(Model => Model.Title)
                            @Html.HiddenFor(Model => Model.Created)
                            @Html.HiddenFor(Model => Model.TicketStatusId)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                            <div class="row">
                                @*row for select input*@
                                <div class="col">
                                    @{
                                        var dev = @Model.Developer;
                                        var devName = dev != null ? dev.Fullname : "Unassigned";
                                    }
                                    <p>@Html.Label("Assigned Developer"): @devName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>@Html.Label("Status"): @Model.TicketStatus.Name</p>
                                </div>
                                <div class="col">
                                    <p>@Html.Label("Priority"): @Model.TicketPriority.Name</p>
                                </div>
                                <div class="col">
                                    <p>@Html.Label("Type"): @Model.TicketType.Name</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>@Html.Label("Submitter"): @Model.Submitter.Fullname</p>
                                </div>
                                <div class="col">
                                    <p>@Html.Label("Created"):  @Model.Created.ToString("MMM, dd, yyyy")</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-5" })

                                    @Html.TextArea("Description", new { @class = "form-control h-100" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    <br />
                                </div>
                            </div>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <br />
                                <div class="col">
                                    @Html.ActionLink("Edit information", "Edit", new { id = Model.Id }, new { @class = "form-control btn btn-primary " })
                                </div>
                                <div class="col">
                                    @*@Html.ActionLink("Back to List", null, null, new { @class = "form-control btn btn-dark" }, new { href = Request.Url.Referrer })*@
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "form-control btn btn-dark" })
                                </div>
                            </div>
                        </div> <!-- /.card-footer-->
                    </div><!-- /.card -->
                @*</div>*@
            </div>
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Comments</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="direct-chat-messages">
                                <!-- Message. Default to the left -->
                                @foreach (var comment in Model.Comments.OrderBy(c => c.Created).ToList())
                                {
                                    <div class="direct-chat-msg">
                                        <div class="direct-chat-infos clearfix">
                                            <span class="direct-chat-name float-left">@comment.User.Fullname</span>
                                            @{
                                                var commentDate = comment.Updated != null ? comment.Updated : comment.Created;
                                            }
                                            <span class="direct-chat-timestamp float-right">@commentDate</span>
                                        </div>
                                        <!-- /.direct-chat-infos -->
                                        @*<img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">*@
                                        <!-- /.direct-chat-img -->
                                        <div class="direct-chat-text">
                                            @comment.Body
                                        </div>
                                        <!-- /.direct-chat-text -->
                                    </div> <!-- /.direct-chat-msg -->
                                    <!-- /.direct-chat-msg -->
                                }
                            </div>
                        </div> <!-- /.card-body -->
                        <div class="card-footer">
                            @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("ticketId", Model.Id)
                            <div class="input-group">
                                <input type="text" name="commentBody" placeholder="Type Comment ..." class="form-control">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </span>
                            </div>
                            
                            }
                        </div> <!-- /.card-footer-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Attachments</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            Start creating your amazing application!
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            Footer
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->

                
            </div>

            <div class="col">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Ticket History</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>

                                    <th>
                                        @Html.DisplayName("Changed By")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Property")
                                    </th>
                                    <th>
                                        @Html.DisplayName("OldValue")
                                    </th>
                                    <th>
                                        @Html.DisplayName("NewValue")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Changed On")
                                    </th>
                                    
                                </tr>

                                @foreach (var item in Model.Histories)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Fullname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Property)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OldValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChangedOn)
                                        </td>
                                        
                                    </tr>
                                }

                            </table>
                        </div> <!-- /.card-body -->
                        <div class="card-footer">

                        </div> <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
               

            </div>

        </div>
    </div>
    