@using AntTrak.Models
@model Ticket

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-blue">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.CardTitle</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post))
                    {
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(Model => Model.ProjectId)
                            @Html.HiddenFor(Model => Model.SubmitterId)
                            @Html.HiddenFor(Model => Model.Title)
                            @Html.HiddenFor(Model => Model.Created)
                            @Html.HiddenFor(Model => Model.TicketStatusId)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="row">*@
                            @*row for select input*@
                            <div class="row">
                                <div class="col-6">
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        @Html.DropDownList("DeveloperId", null, "Unassigned", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DeveloperId, "", new { @class = "text-danger" })
                                    }
                                    @if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                    {
                                    <p>@Html.Label("Developer"): @Model.Developer.Fullname</p> 
                                    }
                                </div>
                                <div class="col-6">
                                    @if (User.IsInRole("Submitter"))
                                    {
                                    <p>@Html.Label("Status") @Model.TicketStatus.Name</p> 
                                    }
                                    else
                                    {
                                        @Html.DropDownList("TicketStatusId", null, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.DropDownList("TicketPriorityId", null, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col">
                                    @Html.DropDownList("TicketTypeId", null, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>@Html.Label("Submitter"): @Model.Submitter.Fullname</p>
                                </div>
                                <div class="col">
                                    <p>@Html.Label("Created"): @Model.Created.ToString("MMM, dd, yyyy")</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-5" })

                                    @Html.TextArea("Description", new { @class = "form-control h-100" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    <br />
                                </div>
                            </div>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <br />
                                <div class="col">
                                    <input type="submit" value="Save" class="form-control btn btn-primary" />
                                </div>
                                <div class="col">
                                    @Html.ActionLink("Back to List", "Dashboard", "Home", null, new { @class = "form-control btn btn-dark" })
                                </div>
                            </div>
                        </div> <!-- /.card-footer-->
                    }
                </div><!-- /.card -->
            </div>
        </div>   @*top row of cards*@
    </div>  @*Container*@ 
