@using AntTrak.ViewModel
@model Dashboard
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .noWrap 
    {
        white-space: nowrap;
    }

</style>

<!-- Content Header (Page header) -->
<div class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->

</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <!-- PIE CHART -->
            <div class="col">
                <div class="card card-ticket">
                    <div class="card-header">
                        <h3 class="card-title">Ticket Priority Statistics</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.card -->
            <div class="col">
                <div class="card card-ticket">
                    <div class="card-header">
                        <h3 class="card-title">Ticket Status Statistics</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col">
                <div class="card card-ticket">
                    <div class="card-header">
                        <h3 class="card-title">Ticket Type Statistics</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- ./col -->
        </div>
            <!-- /.row -->
            <div class="row">
                <!-- Ticket row -->

                <div class="col-12">
                    <div class="card card-ticket card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">@ViewBag.CardTitle</a>
                                </li>
                                @if (!User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">@ViewBag.CardTitle2</a>
                                    </li>
                                }
                                @if (User.IsInRole("Developer"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">@ViewBag.CardTitleDev</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                    <div class="row">
                                        <div class="col-3">
                                            @*My Tickets Tab*@
                                            @if (User.IsInRole("Submitter"))
                                            {
                                                <p>
                                                    @Html.ActionLink("Create New Ticket", "Create", "Tickets", null, new { @class = "form-control btn btn-ticket" })
                                                </p>
                                            }
                                        </div>
                                    </div>

                                    @*@Html.Partial("_TicketTable", Model.AllMyTickets)*@
                                    @*@Html.Action("_TicketTable", "Home", 1)*@
                                    @*@if (User.IsInRole("Submitter"))
                                {
                                    <p>
                                        @Html.ActionLink("Create New", "Create", "Tickets")
                                    </p>
                                }*@

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Project")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Developer")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Title")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Type")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Status")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Last Updated")
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AllMyTickets)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                                    </td>
                                                    <td>
                                                        @{
                                                            var dev = item.Developer;
                                                            var devName = dev != null ? dev.Fullname : "Unassigned";
                                                        }
                                                        @devName
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Submitter.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                    </td>
                                                    <td class="noWrap">
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td class="noWrap">
                                                        @Html.DisplayFor(modelItem => item.Updated)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                    <!-- All Tickets Tab -->
                                    @if (User.IsInRole("Submitter"))
                                    {
                                        <p>
                                            @Html.ActionLink("Create New", "Create", "Tickets")
                                        </p>
                                    }
                                    @*@Html.Partial("_TicketTable", Model.AllTickets)*@
                                    @*@Html.Action("_TicketTable", "Home", 2)*@

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Project")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Developer")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Title")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Type")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Status")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Last Updated")
                                                </th>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AllTickets)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                                    </td>
                                                    <td>
                                                        @{
                                                            var dev = item.Developer;
                                                            var devName = dev != null ? dev.Fullname : "Unassigned";
                                                        }
                                                        @devName
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Submitter.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                    </td>
                                                    <td class="noWrap">
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td class="noWrap">
                                                        @Html.DisplayFor(modelItem => item.Updated)
                                                    </td>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <td>
                                                            @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                @if (User.IsInRole("Developer"))
                                {
                                    <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                        @*@Html.Partial("_TicketTable", Model.AllMyProjectsTickets)*@
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayName("Project")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Developer")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Title")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Submitter")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Priority")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Type")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Status")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Created")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Last Updated")
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.AllMyProjectsTickets)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Project.Name)
                                                        </td>
                                                        <td>
                                                            @{
                                                                var dev = item.Developer;
                                                                var devName = dev != null ? dev.Fullname : "Unassigned";
                                                            }
                                                            @devName
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Submitter.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                        </td>
                                                        <td class="noWrap">
                                                            @Html.DisplayFor(modelItem => item.Created)
                                                        </td>
                                                        <td class="noWrap">
                                                            @Html.DisplayFor(modelItem => item.Updated)
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div> <!-- (ticket row) -->
           
        </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
}