@using AntTrak.ViewModel
@model IEnumerable<ProjectDetails>

@using (Html.BeginForm("ManageProjectUserAssignments", "Projects"))
{
    @Html.AntiForgeryToken();
    <div class="container">
        <div class="row">
            <!-- New Card row -->
            <div class="col">
                <div class="card card-project">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.CardTitle</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>*@
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="row">
                                    @Html.Label("Users")
                                </div>
                                <div class="row">
                                    @Html.ListBox("UserIds", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5">
                                <div class="row">
                                    @Html.Label("Projects")
                                </div>
                                <div class="row">
                                    @Html.ListBox("ProjectIds", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <br />
                            <div class="col">
                                <button type="submit" value="true" name="addUser" class="form-control btn-success">Assign to Projects</button>
                            </div>
                            <div class="col">
                                <button type="submit" value="false" name="addUser" class="form-control btn-danger">Remove from Projects</button>
                            </div>
                            <div class="col">
                                @Html.ActionLink("Close", "Dashboard", "Home", null, new { @class = "form-control btn btn-dark" })
                            </div>
                        </div>
                    </div>  <!-- /.card-footer-->
                </div>  <!-- /.card -->
            </div>
        </div> <!-- (New Card row) -->
        <div class="row">
            <!-- New Card row -->
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                        <div class="card-tools">
                            @*<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>*@
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Project Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Project Manager")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Users")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => project.Name)
                                        </td>
                                        <td>
                                            
                                            @project.ProjectManagerName;
                                           
                                        </td>
                                        <td>
                                            @foreach (var user in project.ProjectMembers)
                                            {
                                                @user.Fullname
                                                <br />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                       
                    </div>  <!-- /.card-footer-->
                </div>  <!-- /.card -->
            </div>
        </div> <!-- (New Card row) -->


    </div>
}
    


    
