@model IEnumerable<AntTrak.ViewModel.CustomUserData>


@{
    ViewBag.Title = "Manage Project Assignments";
}

<h2>Manage Project Assignments</h2>

<div class="container">
    <div class="row">
        @*main row*@
        <div class="col">
            @*Left Assign Users to Project*@
            @using (Html.BeginForm("AssignUsersToProjects", "Projects"))
                {
                    @Html.AntiForgeryToken();
                <div class="row">
                    @*selection row*@
                    <div class="col">
                        @Html.ListBox("UserIds")
                    </div>
                    <div class="col">
                        @Html.ListBox("ProjectIds")
                    </div>
                </div>@* End Selection row*@
                <br />
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn-primary" style="width:100%">Assign Users to Project</button>
                    </div>
                </div>          
            }
        </div> @* End Left Assign Users to Projects*@
       
        <div class="col"> @* Remove Users from Project *@
        @using (Html.BeginForm("RemoveUsersFromProject", "Projects"))
        {
            @Html.AntiForgeryToken();
            <div class="row">
                @*selection row*@
                <div class="col">
                    @Html.ListBox("UserIds")
                </div>
                <div class="col">
                    @Html.ListBox("ProjectIds")
                </div>
            </div> @*End selection row*@
            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn-primary" style="width:100%">Remove Users to Project</button>
                </div>
            </div>
        }
        </div>@* End Right Remove Users from Projects*@
    </div> @*main row*@
</div>  @*container*@
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Full Name")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayName("Projects")
                    </th>
                </tr>
            </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => user.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.Email)
                            </td>
                            <td>
                                @foreach (var projName in user.ProjectNames)
                                {
                                    @projName
                                    <br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
