@using AntTrak.Models
@using AntTrak.Helpers
@model Project

@using (Html.BeginForm("TeamManagement", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="card card-navy">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.CardTitle</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                @if (User.IsInRole("Admin"))
                                {                                    
                                    @Html.DropDownList("ProjectManagerId", null, "Unassigned", new { @class = "form-control" })
                                }
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="row">
                                    @Html.Label("Submitters")
                                </div>
                                <div class="row">
                                    @Html.ListBox("SubmitterIds", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5">
                                <div class="row">
                                    @Html.Label("Developers")
                                </div>
                                <div class="row">
                                    @Html.ListBox("DeveloperIds", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <br />
                        <div class="col">                            
                            <button type="submit" value="true" name="addMember" class="form-control btn-success">Assign to Project</button>                        
                        </div>
                        <div class="col">                           
                            <button type="submit" value="false" name="addMember" class="form-control btn-danger">Remove from Project</button>
                        </div>
                        <div class="col">
                            @Html.ActionLink("Back To Project", "Details", new { id = Model.Id }, new { @class = "form-control btn btn-dark" })
                        </div>
                    </div>
                </div><!-- /.card-footer-->
            </div>
        </div>
        @*New Card for Table*@
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Full Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Email")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Role")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    UserRolesHelper rolesHelper = new UserRolesHelper();
                                }

                                @foreach (var projUser in Model.Users)
                                {

                                    var roleName = rolesHelper.ListUserRoles(projUser.Id).FirstOrDefault();

                                    if (roleName == "Developer" || roleName == "Submitter")
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => projUser.Fullname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => projUser.Email)
                                            </td>
                                            <td>

                                                @roleName
                                                @*@projUser.Roles.FirstOrDefault();*@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
}